* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #root {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  span {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    height: 31px;
    background-color: #e9fffa;
    border-radius: 11px;
    align-items: center;
    gap: 10px;
    padding: 2%;
    width: 100%;
    margin: 5px;
  }
  
  button {
    border: 2px solid #dbdbdb;
    border-radius: 7px;
    background: #4dec09;
    margin-left: 10px;
    height: 30px;
    width: 70px;
  }
  
  span input {
    width: 100%;
  }
  
  li {
    list-style-type: none;
    width: 100%;
  }
  
  .todo-input {
    width: 100%;
  }
  
  .todo {
    width: 270px;
    background-color: #ccf8cf;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 2%;
  }

  .box {
    background-color: rgb(192, 234, 247);
    padding: 10px;
    height: fit-content;
  }